@import url('https://fonts.googleapis.com/css2?family=Nunito&family=Roboto:wght@300&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Nunito, sans-serif;
    font-weight: 500;
    color: #36454f;
    background: #fff5ee;
}

h1 {
    font-family: Roboto, sans-serif;
    font-size: 200%;
    color: #36454f;
}

.nav-bar {
    display: flex;
    list-style: none;
    margin-left: 20px;
    padding: 10px;
    justify-content: space-between;
}

.nav-links {
    display: flex;
    gap: 2rem;
    list-style: none;
    margin-right: 100px;
    padding: 10px;
    font-family: Nunito, sans-serif;
    font-size: 150%;
    font-weight: 300;
    color: #36454f;

}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
    color: inherit;
}

a:hover {
    border-bottom: 1px solid #ffcba9;
    padding: 10px;

}

/* landing image */

#landing-image {
    background-image: url('../images/landing_page_image.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    height: 650px;
    width: 100%;
    margin-top: 0px;

}

#text-landing-image {
    font-family: Roboto, sans-serif;
    font-size: 550%;
    font-weight: 700;
    color: #fff5ee;
    text-align: center;
    padding: 16%;
}