@import url('https://fonts.googleapis.com/css2?family=Nunito&family=Roboto:wght@300&display=swap');

* {
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
    border: none;
}

body {
    font-family: Nunito, sans-serif;
    font-weight: 500;
    color: #25292c;
    background: #fff5ee;
}

h1 {
    font-family: Roboto, sans-serif;
    font-size: 200%;
    color: #25292c;
    margin-top: 3px;
}

.nav-bar {
    display: flex;
    list-style: none;
    margin-left: 20px;
    padding: 10px;
    justify-content: space-between;
}

.nav-links {
    display: flex;
    gap: 2rem;
    list-style: none;
    margin-right: 25%;
    padding: 10px;
    font-family: Nunito, sans-serif;
    font-size: 150%;
    font-weight: 300;
    color: #25292c;
}

.nav-link-heading:link {
    text-decoration: none;
    color: #25292c;
}

.nav-link-heading:visited {
    text-decoration: none;
    color: inherit;
}

.nav-link-heading:hover {
    border-bottom: 1px solid #ffcba9;
    padding: 3px;
}

/* ******Home page - landing image****** */

.landing-image {
    background-image: url('../images/landing_page_image.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    height: 650px;
    width: 100%;
    margin-top: 0px;
}

.landing-image h2 {
    font-family: Roboto, sans-serif;
    font-size: 550%;
    font-weight: 700;
    color: #fff5ee;
    text-align: center;
    padding: 12%;
}

/* Let us plan your carefree holiday section */

iframe {
    display: flex;
    height: 450px;
    width: 60%;
    margin: 60px;
}

h3 {
    font-family: Roboto, sans-serif;
    font-size: 160%;
    font-weight: 800;
    color: #25292c;
    padding-top: 15px;
    padding-left: 70px;
}

.plan-holiday {
    display: flex;
    list-style: none;
    margin: 0px;
    padding: 0px;
}

.plan-holiday p {
    display: flex;
    margin-left: 0px;
    margin-right: 0px;
    padding: 40px;
    font-family: Nunito, sans-serif;
    font-size: 120%;
    font-weight: 600;
}

.plan-holiday div {
    display: flex;
    flex-direction: column;
    margin: auto;
}

/* Check out our offers section / styling of image and text*/

#check-offer-image {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    background-image: url('../images/check_offers_section_images.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    height: 350px;
    width: 100%;
    margin: 0%;
}

.text-check-offer-home {
    display: flex;
    font-family: Nunito, sans-serif;
    font-size: 120%;
    font-weight: 700;
    color: #fff5ee;
    text-align: left;
    padding-top: 80px;
    margin-left: 100px;
}

.container-offer-btn {
    display: flex;
    padding-left: 30px;
    margin-top: 30px;
    margin-left: 120px;
    margin-bottom: 300px;
}

.offer-btn {
    background-color: #ff7e28;
    font-family: Nunito, sans-serif;
    font-size: 120%;
    text-align: center;
    text-decoration: none;
    color: #fff5ee;
    border-radius: 10px;
    padding: 10px 30px;
}

.offer-btn:hover {
    background-color: #ffffff;
    color: #ff7e28;
    border: 1px solid #ff7e28;
}

/* Additional Plus Flex package section*/

.container-plus-flex {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 10%;
}

#plus-flex-image {
    display: flex;
    background-image: url('../images/image_plus_flex_tariff.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 400px;
    width: 40%;
    margin-top: 50px;
    margin-left: 30px;
}

.flex-list {
    display: flex;
    flex-direction: column;
    width: 40%;
    margin-top: 80px;
    margin-left: 5px;
    font-family: Nunito, sans-serif;
    font-size: 120%;
    font-weight: 600;
    color: #25292c;
}

.flex-list h3 {
    display: flex;
    margin-bottom: 20px;
    margin-right: 50px;
    padding: 0px;
    font-size: 140%;
    font-weight: 900;
}

.head-flex-list {
    display: flex;
    font-family: Nunito, sans-serif;
    font-size: 130%;
    font-weight: 800;
    color: #25292c;
    padding-bottom: 3%;
    padding-top: 3%;
}

.container-contact-btn {
    display: flex;
    justify-content: center;
    margin: 3% 0%;
}

.contact-btn {
    background-color: #ff7e28;
    font-family: Nunito, sans-serif;
    font-size: 120%;
    text-align: center;
    text-decoration: none;
    color: #fff5ee;
    border-radius: 10px;
    padding: 15px 25px;
}

.contact-btn:hover {
    background-color: #ffffff;
    color: #ff7e28;
    border: 1px solid #ff7e28;
}

/* Footer */

footer {
    height: 20%;
    margin: 3% 0% 3% 0%;
}

.social-media {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    gap: 10%;
    text-decoration: none;
}

.social-media li {
    margin: 20px 10px;
    height: 30px;
}

i {
    font-size: 30px;
    color: #25292c;
}

i:hover {
    border-bottom: 2px solid #ff7e28;
}

/* ****** Offers page ****** */

.container-offers {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-direction: row;
    gap: 1%;
    margin: 0px;
    padding: 0px;
}

.services-offers {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40%;
    margin: 10px 30px 30px 50px;
    font-family: Nunito, sans-serif;
    font-size: 110%;
    font-weight: 600;
    color: #25292c;
}

.services-offers div {
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    padding-bottom: 5%;
    margin-top: 5%;
    margin-left: 0%;
}

.services-offers ul {
    width: 100%;
    margin: 0px;
    padding-top: 0px;
    padding-bottom: 40px;
    font-family: Nunito, sans-serif;
    font-size: 100%;
    font-weight: 600;
    color: #25292c;
}

.services-offers li {
    margin-left: 15%;
}

.services-offers h3 {
    margin-bottom: 10px;
    margin-right: 0px;
    padding-top: 0px;
    padding-left: 0px;
    font-size: 120%;
    font-weight: 1000;
}

/* Style first offer image */

#hotel-primasol {
    display: flex;
    background-image: url('../images/hotel_primasol_elmehdi_first_offer.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    width: 40%;
    height: 450px;
    padding: 0px 0px;
    margin: 50px 0px 20px 0px;
}

/* Style second offer image */

#hotel-alcudia {
    display: flex;
    background-image: url('../images/hotel_blue_alcudia_pins_second_offer.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    width: 40%;
    height: 450px;
    padding: 0px;
    margin: 50px 0px 20px 0px;
}

/* Style third offer image*/

#hotel-girandella {
    display: flex;
    background-image: url('../images/hotel_girandella_valamar_collection_third_offer.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    width: 40%;
    height: 450px;
    padding: 0px;
    margin: 50px 0px 60px 0px;
}

/* ****** Contact us Page ****** */

.container-form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 3%;
    margin: 50px 0px 0px 0px;
    padding: 0;
}

#contactus-form-photo {
    background-image: url('../images/car_beach_holiday_sign_up.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    width: 40%;
    height: 1000px;
    padding-top: 0px;
    margin: 50px;
}

form {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    margin: 30px 50px 40px 20px;
    padding: 0px 0px 0px 80px;
    width: 43%;
    height: 1200px;
    background-color: #f0dbcd;
    opacity: 0.9;
    color: #25292c;
    border: 1px solid #ff7e28;
    border-radius: 2%;
}

form label {
    font-family: Nunito, sans-serif;
    font-size: 120%;
    font-weight: 600;
    color: #25292c;
    padding-top: 20px;
}

.text-form,
form textarea {
    font-family: Nunito, sans-serif;
    font-size: 100%;
    font-weight: 600;
    color: #25292c;
}

form h2 {
    font-family: Roboto, sans-serif;
    font-size: 130%;
    font-weight: 800;
    margin: 0px 0px 20px 20px;
    padding-top: 20px;
    text-align: left;
}

.text-form {
    width: 40%;
    height: 30px;
}

#subscribe-newsletter {
    width: 3%;
}

form textarea {
    margin-top: 2%;
}

#submit-btn {
    background-color: #ff7e28;
    font-family: Nunito, sans-serif;
    font-size: 120%;
    text-align: center;
    text-decoration: none;
    color: #fff5ee;
    border-radius: 10px;
    padding: 10px 20px;
    margin-top: 30px;
    margin-bottom: 10px;
}

#submit-btn:hover {
    background-color: #ffffff;
    color: #ff7e28;
    border: 1px solid #ff7e28;
}

/* Contact details table */

table {
    font-family: Nunito, sans-serif;
    font-size: 120%;
    font-weight: 600;
    text-align: left;
    color: #25292c;
    border-radius: 2%;
    border: 1px solid #ff7e28;
    margin-left: auto;
    margin-right: auto;
    padding: 20px 60px;
}

td {
    padding-top: 10px;
    padding-bottom: 10px;
}

/* ******Confirmation submission form ****** */

.msg-submission {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: Nunito, sans-serif;
    font-size: 220%;
    text-align: center;
    margin: 10% 0%;
}

/* ****** Media queries ****** */

@media screen and (max-width: 1200px) {

    iframe {
        height: 300px;
        width: 70%;
    }

    .landing-image h2 {
        padding: 20%;
    }

    form h2 {
        margin-left: 0px;
    }

    #hotel-primasol,
    #hotel-alcudia {
        margin-top: 1%;
        margin-bottom: 4%;
    }

    #hotel-girandella {
        margin-top: 0%;
        margin-bottom: 7%;
    }

    .services-offers {
        padding-top: 2%;
    }

    .services-offers h3 {
        font-size: 110%;
        padding-left: 5px;
    }

    form {
        margin-left: 0px;
        padding-left: 50px;
    }
}

/* Media queries for Nest Hub */

@media screen and (max-width: 1024px) {

    #hotel-primasol,
    #hotel-alcudia {
        margin-top: 0%;
        margin-bottom: 5%;
    }

    #hotel-girandella {
        margin-top: 0%;
        margin-bottom: 12%;
    }

    form>textarea {
        width: 60%;
    }

    form label {
        font-size: 110%;
    }
}

/* Media queries for Surface Pro 7 - 912px */

@media screen and (max-width: 990px) {

    .plan-holiday h3 {
        padding-left: 3%;
    }

    .container-plus-flex {
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        margin: 0px;
        padding: 0px;
        width: 100%;
    }

    #plus-flex-image {
        width: 70%;
        height: 300px;
    }

    .flex-list {
        width: 80%;
        margin-left: 10%;
    }

    .flex-list h3 {
        padding-left: 0px;
    }

    .container-offers,
    .container-form {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
        margin: 0px;
        padding: 0px;
        width: 100%;
    }

    #hotel-primasol,
    #hotel-alcudia,
    #hotel-girandella {
        width: 80%;
        height: 350px;
        margin: 0px;
    }

    .services-offers {
        width: 90%;
        margin-left: 10px;
        margin-top: 30px;
    }

    form>textarea {
        width: 80%;
    }

    #submit-btn {
        margin-bottom: 20px;
    }

    form {
        width: 65%;
        padding-left: 30px;
    }

    #contactus-form-photo {
        width: 80%;
        height: 650px;
    }
}

/* Media queries for iPad Mini -768px */

@media screen and (max-width: 768px) {

    .nav-links {
        margin-right: 0%;
        margin-left: 0%;
    }

    .plan-holiday {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
        margin: 0%;
        padding: 0%;
    }

    .plan-holiday div {
        display: flex;
        align-items: center;
        margin: 0;
    }

    h3 {
        margin-top: 10px;
        padding-left: 0px;
    }

    form {
        width: 80%;
        margin-left: 50px;
    }

    form h2 {
        margin-left: 0px;
    }

    .msg-submission {
        font-size: 150%;
    }
}

/* Media queries for Surface Duo -540px */
@media screen and (max-width: 600px) {

    body {
        font-size: 100%;
    }

    .nav-bar {
        display: flex;
        justify-content: space-between;
        gap: 0%;
        margin: 0%;
        padding: 1%;
    }

    .nav-links {
        font-size: 120%;
    }

    h1 {
        font-size: 120%;
        padding-top: 5%;
    }

    .landing-image h2 {
        font-size: 470%;
        padding-top: 30%;
    }

    .plan-holiday h3 {
        font-size: 150%;
        padding-left: 3%;
    }

    .flex-list h3,
    .head-flex-list,
    form h2 {
        font-size: 120%;
        padding-left: 5px;
    }

    .text-check-offer-home {
        display: flex;
        justify-content: flex-start;
        text-align: left;
        margin-left: 4%;
        margin-top: 3%;
        padding-top: 2%;
    }
}

/* Media queries for Pixel 5 - 393px, iPhone Pro 12 -390px */
@media screen and (max-width: 400px) {

    body {
        font-size: 90%;
    }

    .nav-bar {
        margin-left: 0%;
        padding: 8px;
    }

    .nav-links {
        gap: 1rem;
    }

    .landing-image {
        height: 500px;
        margin: 0%;
    }

    .landing-image h2 {
        font-size: 350%;
        padding-top: 40%;
    }

    .container-offer-btn {
        margin-left: 30px;
    }

    .flex-list,
    .plan-holiday {
        margin-top: 5%;
        margin-left: 2%;
    }

    #plus-flex-image {
        width: 100%;
        height: 350px;
        margin: 30px 0px 20px 0px;
        padding: 0px;
    }

    #hotel-primasol,
    #hotel-alcudia,
    #hotel-girandella {
        width: 100%;
        height: 350px;
        margin: 0px;
        padding: 0px;
    }

    footer {
        height: 100px;
    }

    .social-media li {
        margin: 50px 10px;
    }

    i {
        font-size: 25px;
    }

    #subscribe-newsletter {
        width: 6%;
    }

    #contactus-form-photo {
        height: 350px;
        width: 100%;
        margin: 0px 0px 20px 0px;
    }

    .text-form {
        width: 60%;
        font-size: 90%;
    }

    table {
        width: 85%;
        padding: 20px 30px;
    }
}

/* Media queries for iPhone 320px*/

@media screen and (max-width: 320px) {

    .nav-bar {
        display: flex;
        justify-content: center;
        gap: 0%;
    }

    h1 {
        font-size: 110%;
        padding-top: 5%;
    }

    .nav-links {
        gap: 1rem;
        font-size: 100%;
    }

    .landing-image {
        height: 400px;
        margin: 0%;
    }

    .landing-image h2 {
        font-size: 300%;
        padding-top: 40%;
    }

    .plan-holiday {
        margin-left: 5%;
    }

    iframe {
        margin: 20px 0px;
        width: 80%;
        height: auto;
    }

    #hotel-primasol,
    #hotel-alcudia,
    #hotel-girandella {
        height: 300px;
        margin: 0px;
        padding: 0px;
    }

    .services-offers {
        width: 90%;
        margin-top: 30px;
        margin-right: 5px;
        margin-left: 0px;
        font-size: 100%;
    }

    form {
        margin-right: 0px;
        margin-left: 0px;
        padding-left: 10px;
    }

    #subscribe-newsletter {
        width: 10%;
    }

    form textarea {
        margin-top: 0px;
    }

    table {
        padding: 0px 10px;
    }

    td {
        padding-top: 5px;
        padding-bottom: 5px;
    }
}